GenTag Demo/GenTag Demo/Web References/petWS/petWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns0="http://petPackage/types/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://petPackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="petWS" targetNamespace="http://petPackage/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:tns="http://petPackage/types/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="http://petPackage/types/">
      <xsd:complexType name="petInfo">
        <xsd:sequence>
          <xsd:element name="password" nillable="true" type="xsd:string" />
          <xsd:element name="workPhone" nillable="true" type="xsd:string" />
          <xsd:element name="vetName" nillable="true" type="xsd:string" />
          <xsd:element name="owner" nillable="true" type="xsd:string" />
          <xsd:element name="breed" nillable="true" type="xsd:string" />
          <xsd:element name="exists" type="xsd:boolean" />
          <xsd:element name="homePhone" nillable="true" type="xsd:string" />
          <xsd:element name="rfidNum" nillable="true" type="xsd:string" />
          <xsd:element name="cellPhone" nillable="true" type="xsd:string" />
          <xsd:element name="medicalNeeds" nillable="true" type="xsd:string" />
          <xsd:element name="contactInfo" nillable="true" type="xsd:string" />
          <xsd:element name="vetPhone" nillable="true" type="xsd:string" />
          <xsd:element name="reward" type="xsd:int" />
          <xsd:element name="image" nillable="true" type="xsd:base64Binary" />
          <xsd:element name="email" nillable="true" type="xsd:string" />
          <xsd:element name="vetAddress" nillable="true" type="xsd:string" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="medications" nillable="true" type="xsd:string" />
          <xsd:element name="preferredFood" nillable="true" type="xsd:string" />
          <xsd:element name="tagCode" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="authorizeElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="String_1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="authorizeResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:errorMessage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="errorMessage">
        <xsd:sequence>
          <xsd:element name="errorMessage" nillable="true" type="xsd:string" />
          <xsd:element name="success" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="changePasswordElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="String_1" nillable="true" type="xsd:string" />
            <xsd:element name="String_2" nillable="true" type="xsd:string" />
            <xsd:element name="String_3" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="changePasswordResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="changePasswordTagCodeElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="String_1" nillable="true" type="xsd:string" />
            <xsd:element name="String_2" nillable="true" type="xsd:string" />
            <xsd:element name="String_3" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="changePasswordTagCodeResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrievePetInformationElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="String_1" nillable="true" type="xsd:string" />
            <xsd:element name="String_2" nillable="true" type="xsd:string" />
            <xsd:element name="float_3" type="xsd:float" />
            <xsd:element name="float_4" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrievePetInformationResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:petInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrievePetInformationTagCodeElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="String_1" nillable="true" type="xsd:string" />
            <xsd:element name="String_2" nillable="true" type="xsd:string" />
            <xsd:element name="float_3" type="xsd:float" />
            <xsd:element name="float_4" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrievePetInformationTagCodeResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:petInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updatePetInformationElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="petInfo_1" nillable="true" type="tns:petInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updatePetInformationResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:errorMessage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updatePetInformationTagCodeElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="petInfo_1" nillable="true" type="tns:petInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updatePetInformationTagCodeResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:errorMessage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="PetWS_authorize">
    <part name="parameters" element="tns0:authorizeElement" />
  </message>
  <message name="PetWS_authorizeResponse">
    <part name="parameters" element="tns0:authorizeResponseElement" />
  </message>
  <message name="PetWS_changePassword">
    <part name="parameters" element="tns0:changePasswordElement" />
  </message>
  <message name="PetWS_changePasswordResponse">
    <part name="parameters" element="tns0:changePasswordResponseElement" />
  </message>
  <message name="PetWS_changePasswordTagCode">
    <part name="parameters" element="tns0:changePasswordTagCodeElement" />
  </message>
  <message name="PetWS_changePasswordTagCodeResponse">
    <part name="parameters" element="tns0:changePasswordTagCodeResponseElement" />
  </message>
  <message name="PetWS_retrievePetInformation">
    <part name="parameters" element="tns0:retrievePetInformationElement" />
  </message>
  <message name="PetWS_retrievePetInformationResponse">
    <part name="parameters" element="tns0:retrievePetInformationResponseElement" />
  </message>
  <message name="PetWS_retrievePetInformationTagCode">
    <part name="parameters" element="tns0:retrievePetInformationTagCodeElement" />
  </message>
  <message name="PetWS_retrievePetInformationTagCodeResponse">
    <part name="parameters" element="tns0:retrievePetInformationTagCodeResponseElement" />
  </message>
  <message name="PetWS_updatePetInformation">
    <part name="parameters" element="tns0:updatePetInformationElement" />
  </message>
  <message name="PetWS_updatePetInformationResponse">
    <part name="parameters" element="tns0:updatePetInformationResponseElement" />
  </message>
  <message name="PetWS_updatePetInformationTagCode">
    <part name="parameters" element="tns0:updatePetInformationTagCodeElement" />
  </message>
  <message name="PetWS_updatePetInformationTagCodeResponse">
    <part name="parameters" element="tns0:updatePetInformationTagCodeResponseElement" />
  </message>
  <portType name="petWS">
    <operation name="authorize">
      <input message="tns:PetWS_authorize" />
      <output message="tns:PetWS_authorizeResponse" />
    </operation>
    <operation name="changePassword">
      <input message="tns:PetWS_changePassword" />
      <output message="tns:PetWS_changePasswordResponse" />
    </operation>
    <operation name="changePasswordTagCode">
      <input message="tns:PetWS_changePasswordTagCode" />
      <output message="tns:PetWS_changePasswordTagCodeResponse" />
    </operation>
    <operation name="retrievePetInformation">
      <input message="tns:PetWS_retrievePetInformation" />
      <output message="tns:PetWS_retrievePetInformationResponse" />
    </operation>
    <operation name="retrievePetInformationTagCode">
      <input message="tns:PetWS_retrievePetInformationTagCode" />
      <output message="tns:PetWS_retrievePetInformationTagCodeResponse" />
    </operation>
    <operation name="updatePetInformation">
      <input message="tns:PetWS_updatePetInformation" />
      <output message="tns:PetWS_updatePetInformationResponse" />
    </operation>
    <operation name="updatePetInformationTagCode">
      <input message="tns:PetWS_updatePetInformationTagCode" />
      <output message="tns:PetWS_updatePetInformationTagCodeResponse" />
    </operation>
  </portType>
  <binding name="petWSSoapHttp" type="tns:petWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="authorize">
      <soap:operation soapAction="http://petPackage//authorize" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="changePassword">
      <soap:operation soapAction="http://petPackage//changePassword" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="changePasswordTagCode">
      <soap:operation soapAction="http://petPackage//changePasswordTagCode" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="retrievePetInformation">
      <soap:operation soapAction="http://petPackage//retrievePetInformation" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="retrievePetInformationTagCode">
      <soap:operation soapAction="http://petPackage//retrievePetInformationTagCode" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updatePetInformation">
      <soap:operation soapAction="http://petPackage//updatePetInformation" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updatePetInformationTagCode">
      <soap:operation soapAction="http://petPackage//updatePetInformationTagCode" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="petWS">
    <port name="petWSSoapHttpPort" binding="tns:petWSSoapHttp">
      <soap:address location="http://crius.dyndns.org:8888/GentagDemo/petWSSoapHttpPort" />
    </port>
  </service>
</definitions>