GenTag Demo/WineClient/Web References/org.dyndns.criusWine/wineWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns0="http://winedemo/types/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://winedemo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WineWS" targetNamespace="http://winedemo/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:tns="http://winedemo/types/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="http://winedemo/types/">
      <xsd:element name="enterBottleInformationElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="rfidNums" nillable="true" type="xsd:string" />
            <xsd:element name="type" nillable="true" type="xsd:string" />
            <xsd:element name="year" type="xsd:int" />
            <xsd:element name="country" nillable="true" type="xsd:string" />
            <xsd:element name="vineyard" nillable="true" type="xsd:string" />
            <xsd:element name="review" nillable="true" type="xsd:string" />
            <xsd:element name="labelImage" nillable="true" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="enterBottleInformationResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getItemElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="String_1" nillable="true" type="xsd:string" />
            <xsd:element name="String_2" nillable="true" type="xsd:string" />
            <xsd:element name="float_3" type="xsd:float" />
            <xsd:element name="float_4" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getItemResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:InfoPacket" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="InfoPacket">
        <xsd:sequence>
          <xsd:element name="authenticated" type="xsd:boolean" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="desc" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getWineAccessesSinceElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="timestamp" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getWineAccessesSinceResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="result" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveBottleInformationElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="rfidNum" nillable="true" type="xsd:string" />
            <xsd:element name="phoneID" nillable="true" type="xsd:string" />
            <xsd:element name="latitude" type="xsd:float" />
            <xsd:element name="longitude" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveBottleInformationResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:wineBottle" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="wineBottle">
        <xsd:sequence>
          <xsd:element name="year" type="xsd:int" />
          <xsd:element name="type" nillable="true" type="xsd:string" />
          <xsd:element name="authenticated" type="xsd:boolean" />
          <xsd:element name="image" nillable="true" type="xsd:base64Binary" />
          <xsd:element name="lookedUpTimes" type="xsd:int" />
          <xsd:element name="exists" type="xsd:boolean" />
          <xsd:element name="vineyard" nillable="true" type="xsd:string" />
          <xsd:element name="origin" nillable="true" type="xsd:string" />
          <xsd:element name="rfidNum" nillable="true" type="xsd:string" />
          <xsd:element name="review" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="WineWS_enterBottleInformation">
    <part name="parameters" element="tns0:enterBottleInformationElement" />
  </message>
  <message name="WineWS_enterBottleInformationResponse">
    <part name="parameters" element="tns0:enterBottleInformationResponseElement" />
  </message>
  <message name="WineWS_getItem">
    <part name="parameters" element="tns0:getItemElement" />
  </message>
  <message name="WineWS_getItemResponse">
    <part name="parameters" element="tns0:getItemResponseElement" />
  </message>
  <message name="WineWS_getWineAccessesSince">
    <part name="parameters" element="tns0:getWineAccessesSinceElement" />
  </message>
  <message name="WineWS_getWineAccessesSinceResponse">
    <part name="parameters" element="tns0:getWineAccessesSinceResponseElement" />
  </message>
  <message name="WineWS_retrieveBottleInformation">
    <part name="parameters" element="tns0:retrieveBottleInformationElement" />
  </message>
  <message name="WineWS_retrieveBottleInformationResponse">
    <part name="parameters" element="tns0:retrieveBottleInformationResponseElement" />
  </message>
  <portType name="WineWS">
    <operation name="enterBottleInformation">
      <input message="tns:WineWS_enterBottleInformation" />
      <output message="tns:WineWS_enterBottleInformationResponse" />
    </operation>
    <operation name="getItem">
      <input message="tns:WineWS_getItem" />
      <output message="tns:WineWS_getItemResponse" />
    </operation>
    <operation name="getWineAccessesSince">
      <input message="tns:WineWS_getWineAccessesSince" />
      <output message="tns:WineWS_getWineAccessesSinceResponse" />
    </operation>
    <operation name="retrieveBottleInformation">
      <input message="tns:WineWS_retrieveBottleInformation" />
      <output message="tns:WineWS_retrieveBottleInformationResponse" />
    </operation>
  </portType>
  <binding name="WineWSSoapHttp" type="tns:WineWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="enterBottleInformation">
      <soap:operation soapAction="http://winedemo//enterBottleInformation" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getItem">
      <soap:operation soapAction="http://winedemo//getItem" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getWineAccessesSince">
      <soap:operation soapAction="http://winedemo//getWineAccessesSince" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="retrieveBottleInformation">
      <soap:operation soapAction="http://winedemo//retrieveBottleInformation" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WineWS">
    <port name="WineWSSoapHttpPort" binding="tns:WineWSSoapHttp">
      <soap:address location="http://crius.dyndns.org:8888/GentagWineDemo-WineDemo-context-root/WineWSSoapHttpPort" />
    </port>
  </service>
</definitions>