JavaWebService/GetDates/public_html/WEB-INF/wsdl/COREMedDemoWS.wsdl

<definitions
     name="COREMedDemoWS"
     targetNamespace="http://COREMedDemo/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://COREMedDemo/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://COREMedDemo/" elementFormDefault="qualified"
             xmlns:tns="http://COREMedDemo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/">
            <complexType name="drugInfo">
                <sequence>
                    <element name="RFIDNum" type="string" nillable="true"/>
                    <element name="picture" type="base64Binary" nillable="true"/>
                    <element name="description" type="string" nillable="true"/>
                    <element name="exists" type="boolean"/>
                    <element name="name" type="string" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="patientRecord">
                <sequence>
                    <element name="image" type="base64Binary" nillable="true"/>
                    <element name="exists" type="boolean"/>
                    <element name="middleName" type="string" nillable="true"/>
                    <element name="allergies" type="string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="medications" type="string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="firstName" type="string" nillable="true"/>
                    <element name="lastName" type="string" nillable="true"/>
                    <element name="RFIDnum" type="string" nillable="true"/>
                    <element name="DOB" type="long"/>
                </sequence>
            </complexType>
            <element name="checkInteractionElement">
                <complexType>
                    <sequence>
                        <element name="ID" type="string" nillable="true"/>
                        <element name="drugID" type="string" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="checkInteractionResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="boolean"/>
                    </sequence>
                </complexType>
            </element>
            <element name="enterDrugInfoElement">
                <complexType>
                    <sequence>
                        <element name="newDrug" type="tns:drugInfo" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="enterDrugInfoResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:errorReport" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="errorReport">
                <sequence>
                    <element name="errorMessage" type="string" nillable="true"/>
                    <element name="errorCode" type="int"/>
                </sequence>
            </complexType>
            <element name="enterPatientPhotoElement">
                <complexType>
                    <sequence>
                        <element name="newPatient" type="tns:patientRecord" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="enterPatientPhotoResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:errorReport" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="enterPatientRecordElement">
                <complexType>
                    <sequence>
                        <element name="newPatient" type="tns:patientRecord" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="enterPatientRecordResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:errorReport" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getDrugInfoElement">
                <complexType>
                    <sequence>
                        <element name="RFIDNum" type="string" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getDrugInfoResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:drugInfo" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getPatientRecordElement">
                <complexType>
                    <sequence>
                        <element name="RFIDNum" type="string" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getPatientRecordResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:patientRecord" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="logPatientVitalsElement">
                <complexType>
                    <sequence>
                        <element name="RFIDNum" type="string" nillable="true"/>
                        <element name="temperatures" type="float" minOccurs="0" maxOccurs="unbounded"/>
                        <element name="periodicity" type="int"/>
                    </sequence>
                </complexType>
            </element>
            <element name="logPatientVitalsResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:errorReport" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="registerDoseGivenElement">
                <complexType>
                    <sequence>
                        <element name="patientRFIDNum" type="string" nillable="true"/>
                        <element name="drugRFIDNum" type="string" nillable="true"/>
                        <element name="nurseID" type="string" nillable="true"/>
                        <element name="dose" type="int"/>
                    </sequence>
                </complexType>
            </element>
            <element name="registerDoseGivenResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="boolean"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="COREMedDemoWS_checkInteraction">
        <part name="parameters" element="tns:checkInteractionElement"/>
    </message>
    <message name="COREMedDemoWS_checkInteractionResponse">
        <part name="parameters" element="tns:checkInteractionResponseElement"/>
    </message>
    <message name="COREMedDemoWS_enterDrugInfo">
        <part name="parameters" element="tns:enterDrugInfoElement"/>
    </message>
    <message name="COREMedDemoWS_enterDrugInfoResponse">
        <part name="parameters" element="tns:enterDrugInfoResponseElement"/>
    </message>
    <message name="COREMedDemoWS_enterPatientPhoto">
        <part name="parameters" element="tns:enterPatientPhotoElement"/>
    </message>
    <message name="COREMedDemoWS_enterPatientPhotoResponse">
        <part name="parameters" element="tns:enterPatientPhotoResponseElement"/>
    </message>
    <message name="COREMedDemoWS_enterPatientRecord">
        <part name="parameters" element="tns:enterPatientRecordElement"/>
    </message>
    <message name="COREMedDemoWS_enterPatientRecordResponse">
        <part name="parameters" element="tns:enterPatientRecordResponseElement"/>
    </message>
    <message name="COREMedDemoWS_getDrugInfo">
        <part name="parameters" element="tns:getDrugInfoElement"/>
    </message>
    <message name="COREMedDemoWS_getDrugInfoResponse">
        <part name="parameters" element="tns:getDrugInfoResponseElement"/>
    </message>
    <message name="COREMedDemoWS_getPatientRecord">
        <part name="parameters" element="tns:getPatientRecordElement"/>
    </message>
    <message name="COREMedDemoWS_getPatientRecordResponse">
        <part name="parameters" element="tns:getPatientRecordResponseElement"/>
    </message>
    <message name="COREMedDemoWS_logPatientVitals">
        <part name="parameters" element="tns:logPatientVitalsElement"/>
    </message>
    <message name="COREMedDemoWS_logPatientVitalsResponse">
        <part name="parameters" element="tns:logPatientVitalsResponseElement"/>
    </message>
    <message name="COREMedDemoWS_registerDoseGiven">
        <part name="parameters" element="tns:registerDoseGivenElement"/>
    </message>
    <message name="COREMedDemoWS_registerDoseGivenResponse">
        <part name="parameters" element="tns:registerDoseGivenResponseElement"/>
    </message>
    <portType name="COREMedDemoWS">
        <operation name="checkInteraction">
            <input message="tns:COREMedDemoWS_checkInteraction"/>
            <output message="tns:COREMedDemoWS_checkInteractionResponse"/>
        </operation>
        <operation name="enterDrugInfo">
            <input message="tns:COREMedDemoWS_enterDrugInfo"/>
            <output message="tns:COREMedDemoWS_enterDrugInfoResponse"/>
        </operation>
        <operation name="enterPatientPhoto">
            <input message="tns:COREMedDemoWS_enterPatientPhoto"/>
            <output message="tns:COREMedDemoWS_enterPatientPhotoResponse"/>
        </operation>
        <operation name="enterPatientRecord">
            <input message="tns:COREMedDemoWS_enterPatientRecord"/>
            <output message="tns:COREMedDemoWS_enterPatientRecordResponse"/>
        </operation>
        <operation name="getDrugInfo">
            <input message="tns:COREMedDemoWS_getDrugInfo"/>
            <output message="tns:COREMedDemoWS_getDrugInfoResponse"/>
        </operation>
        <operation name="getPatientRecord">
            <input message="tns:COREMedDemoWS_getPatientRecord"/>
            <output message="tns:COREMedDemoWS_getPatientRecordResponse"/>
        </operation>
        <operation name="logPatientVitals">
            <input message="tns:COREMedDemoWS_logPatientVitals"/>
            <output message="tns:COREMedDemoWS_logPatientVitalsResponse"/>
        </operation>
        <operation name="registerDoseGiven">
            <input message="tns:COREMedDemoWS_registerDoseGiven"/>
            <output message="tns:COREMedDemoWS_registerDoseGivenResponse"/>
        </operation>
    </portType>
    <binding name="COREMedDemoWSSoap12Http" type="tns:COREMedDemoWS">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="checkInteraction">
            <soap12:operation soapAction="http://COREMedDemo//checkInteraction" soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="enterDrugInfo">
            <soap12:operation soapAction="http://COREMedDemo//enterDrugInfo" soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="enterPatientPhoto">
            <soap12:operation soapAction="http://COREMedDemo//enterPatientPhoto" soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="enterPatientRecord">
            <soap12:operation soapAction="http://COREMedDemo//enterPatientRecord" soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="getDrugInfo">
            <soap12:operation soapAction="http://COREMedDemo//getDrugInfo" soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="getPatientRecord">
            <soap12:operation soapAction="http://COREMedDemo//getPatientRecord" soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="logPatientVitals">
            <soap12:operation soapAction="http://COREMedDemo//logPatientVitals" soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="registerDoseGiven">
            <soap12:operation soapAction="http://COREMedDemo//registerDoseGiven" soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="COREMedDemoWSSoapHttp" type="tns:COREMedDemoWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="checkInteraction">
            <soap:operation soapAction="http://COREMedDemo//checkInteraction"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="enterDrugInfo">
            <soap:operation soapAction="http://COREMedDemo//enterDrugInfo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="enterPatientPhoto">
            <soap:operation soapAction="http://COREMedDemo//enterPatientPhoto"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="enterPatientRecord">
            <soap:operation soapAction="http://COREMedDemo//enterPatientRecord"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getDrugInfo">
            <soap:operation soapAction="http://COREMedDemo//getDrugInfo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getPatientRecord">
            <soap:operation soapAction="http://COREMedDemo//getPatientRecord"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="logPatientVitals">
            <soap:operation soapAction="http://COREMedDemo//logPatientVitals"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registerDoseGiven">
            <soap:operation soapAction="http://COREMedDemo//registerDoseGiven"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="COREMedDemoWS">
        <port name="COREMedDemoWSSoap12HttpPort" binding="tns:COREMedDemoWSSoap12Http">
            <soap12:address location="http://192.168.10.5:8888/JavaWebService-GetDates-context-root/COREMedDemoWSSoap12HttpPort"/>
        </port>
        <port name="COREMedDemoWSSoapHttpPort" binding="tns:COREMedDemoWSSoapHttp">
            <soap:address location="http://192.168.10.5:8888/JavaWebService-GetDates-context-root/COREMedDemoWSSoapHttpPort"/>
        </port>
    </service>
</definitions>
