JavaWebService/GetDates/public_html/WEB-INF/wsdl/petWS.wsdl

<definitions
     name="petWS"
     targetNamespace="http://petPackage/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://petPackage/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:tns0="http://petPackage/types/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://petPackage/types/"
             elementFormDefault="qualified" xmlns:tns="http://petPackage/types/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/">
            <complexType name="petInfo">
                <sequence>
                    <element name="password" type="string" nillable="true"/>
                    <element name="workPhone" type="string" nillable="true"/>
                    <element name="vetName" type="string" nillable="true"/>
                    <element name="owner" type="string" nillable="true"/>
                    <element name="breed" type="string" nillable="true"/>
                    <element name="exists" type="boolean"/>
                    <element name="homePhone" type="string" nillable="true"/>
                    <element name="rfidNum" type="string" nillable="true"/>
                    <element name="cellPhone" type="string" nillable="true"/>
                    <element name="medicalNeeds" type="string" nillable="true"/>
                    <element name="contactInfo" type="string" nillable="true"/>
                    <element name="vetPhone" type="string" nillable="true"/>
                    <element name="reward" type="int"/>
                    <element name="image" type="base64Binary" nillable="true"/>
                    <element name="email" type="string" nillable="true"/>
                    <element name="vetAddress" type="string" nillable="true"/>
                    <element name="name" type="string" nillable="true"/>
                    <element name="medications" type="string" nillable="true"/>
                    <element name="preferredFood" type="string" nillable="true"/>
                    <element name="tagCode" type="string" nillable="true"/>
                </sequence>
            </complexType>
            <element name="authorizeElement">
                <complexType>
                    <sequence>
                        <element name="String_1" type="string" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="authorizeResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:errorMessage" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="errorMessage">
                <sequence>
                    <element name="attribute1" type="string" nillable="true"/>
                    <element name="errorMessage" type="string" nillable="true"/>
                    <element name="attribute2" type="string" nillable="true"/>
                    <element name="success" type="boolean"/>
                </sequence>
            </complexType>
            <element name="changePasswordElement">
                <complexType>
                    <sequence>
                        <element name="String_1" type="string" nillable="true"/>
                        <element name="String_2" type="string" nillable="true"/>
                        <element name="String_3" type="string" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="changePasswordResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="boolean"/>
                    </sequence>
                </complexType>
            </element>
            <element name="changePasswordTagCodeElement">
                <complexType>
                    <sequence>
                        <element name="String_1" type="string" nillable="true"/>
                        <element name="String_2" type="string" nillable="true"/>
                        <element name="String_3" type="string" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="changePasswordTagCodeResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="boolean"/>
                    </sequence>
                </complexType>
            </element>
            <element name="retrievePetInformationElement">
                <complexType>
                    <sequence>
                        <element name="String_1" type="string" nillable="true"/>
                        <element name="String_2" type="string" nillable="true"/>
                        <element name="float_3" type="float"/>
                        <element name="float_4" type="float"/>
                    </sequence>
                </complexType>
            </element>
            <element name="retrievePetInformationResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:petInfo" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="retrievePetInformationTagCodeElement">
                <complexType>
                    <sequence>
                        <element name="String_1" type="string" nillable="true"/>
                        <element name="String_2" type="string" nillable="true"/>
                        <element name="float_3" type="float"/>
                        <element name="float_4" type="float"/>
                    </sequence>
                </complexType>
            </element>
            <element name="retrievePetInformationTagCodeResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:petInfo" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="updatePetInformationElement">
                <complexType>
                    <sequence>
                        <element name="petInfo_1" type="tns:petInfo" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="updatePetInformationResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:errorMessage" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="updatePetInformationTagCodeElement">
                <complexType>
                    <sequence>
                        <element name="petInfo_1" type="tns:petInfo" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="updatePetInformationTagCodeResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:errorMessage" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="PetWS_authorize">
        <part name="parameters" element="tns0:authorizeElement"/>
    </message>
    <message name="PetWS_authorizeResponse">
        <part name="parameters" element="tns0:authorizeResponseElement"/>
    </message>
    <message name="PetWS_changePassword">
        <part name="parameters" element="tns0:changePasswordElement"/>
    </message>
    <message name="PetWS_changePasswordResponse">
        <part name="parameters" element="tns0:changePasswordResponseElement"/>
    </message>
    <message name="PetWS_changePasswordTagCode">
        <part name="parameters" element="tns0:changePasswordTagCodeElement"/>
    </message>
    <message name="PetWS_changePasswordTagCodeResponse">
        <part name="parameters" element="tns0:changePasswordTagCodeResponseElement"/>
    </message>
    <message name="PetWS_retrievePetInformation">
        <part name="parameters" element="tns0:retrievePetInformationElement"/>
    </message>
    <message name="PetWS_retrievePetInformationResponse">
        <part name="parameters" element="tns0:retrievePetInformationResponseElement"/>
    </message>
    <message name="PetWS_retrievePetInformationTagCode">
        <part name="parameters" element="tns0:retrievePetInformationTagCodeElement"/>
    </message>
    <message name="PetWS_retrievePetInformationTagCodeResponse">
        <part name="parameters" element="tns0:retrievePetInformationTagCodeResponseElement"/>
    </message>
    <message name="PetWS_updatePetInformation">
        <part name="parameters" element="tns0:updatePetInformationElement"/>
    </message>
    <message name="PetWS_updatePetInformationResponse">
        <part name="parameters" element="tns0:updatePetInformationResponseElement"/>
    </message>
    <message name="PetWS_updatePetInformationTagCode">
        <part name="parameters" element="tns0:updatePetInformationTagCodeElement"/>
    </message>
    <message name="PetWS_updatePetInformationTagCodeResponse">
        <part name="parameters" element="tns0:updatePetInformationTagCodeResponseElement"/>
    </message>
    <portType name="petWS">
        <operation name="authorize">
            <input message="tns:PetWS_authorize"/>
            <output message="tns:PetWS_authorizeResponse"/>
        </operation>
        <operation name="changePassword">
            <input message="tns:PetWS_changePassword"/>
            <output message="tns:PetWS_changePasswordResponse"/>
        </operation>
        <operation name="changePasswordTagCode">
            <input message="tns:PetWS_changePasswordTagCode"/>
            <output message="tns:PetWS_changePasswordTagCodeResponse"/>
        </operation>
        <operation name="retrievePetInformation">
            <input message="tns:PetWS_retrievePetInformation"/>
            <output message="tns:PetWS_retrievePetInformationResponse"/>
        </operation>
        <operation name="retrievePetInformationTagCode">
            <input message="tns:PetWS_retrievePetInformationTagCode"/>
            <output message="tns:PetWS_retrievePetInformationTagCodeResponse"/>
        </operation>
        <operation name="updatePetInformation">
            <input message="tns:PetWS_updatePetInformation"/>
            <output message="tns:PetWS_updatePetInformationResponse"/>
        </operation>
        <operation name="updatePetInformationTagCode">
            <input message="tns:PetWS_updatePetInformationTagCode"/>
            <output message="tns:PetWS_updatePetInformationTagCodeResponse"/>
        </operation>
    </portType>
    <binding name="petWSSoapHttp" type="tns:petWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="authorize">
            <soap:operation soapAction="http://petPackage//authorize"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="changePassword">
            <soap:operation soapAction="http://petPackage//changePassword"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="changePasswordTagCode">
            <soap:operation soapAction="http://petPackage//changePasswordTagCode"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="retrievePetInformation">
            <soap:operation soapAction="http://petPackage//retrievePetInformation"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="retrievePetInformationTagCode">
            <soap:operation soapAction="http://petPackage//retrievePetInformationTagCode"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updatePetInformation">
            <soap:operation soapAction="http://petPackage//updatePetInformation"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updatePetInformationTagCode">
            <soap:operation soapAction="http://petPackage//updatePetInformationTagCode"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="petWS">
        <port name="petWSSoapHttpPort" binding="tns:petWSSoapHttp">
            <soap:address location="http://192.168.10.5:8888/JavaWebService-GetDates-context-root/petWSSoapHttpPort"/>
        </port>
    </service>
</definitions>
