JavaWebService/GetDates/public_html/WEB-INF/wsdl/wineWS.wsdl

<definitions
     name="wineWS"
     targetNamespace="http://winePackage/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://winePackage/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://winePackage/" elementFormDefault="qualified"
             xmlns:tns="http://winePackage/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/">
            <element name="enterBottleInformationElement">
                <complexType>
                    <sequence>
                        <element name="arrayOfString_1" type="string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                        <element name="String_2" type="string" nillable="true"/>
                        <element name="int_3" type="int"/>
                        <element name="String_4" type="string" nillable="true"/>
                        <element name="String_5" type="string" nillable="true"/>
                        <element name="String_6" type="string" nillable="true"/>
                        <element name="arrayOfbyte_7" type="base64Binary" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="enterBottleInformationResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="boolean"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getWineAccessesSinceElement">
                <complexType>
                    <sequence>
                        <element name="long_1" type="long"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getWineAccessesSinceResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="retrieveBottleInformationElement">
                <complexType>
                    <sequence>
                        <element name="String_1" type="string" nillable="true"/>
                        <element name="String_2" type="string" nillable="true"/>
                        <element name="float_3" type="float"/>
                        <element name="float_4" type="float"/>
                    </sequence>
                </complexType>
            </element>
            <element name="retrieveBottleInformationResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:wineBottle" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="wineBottle">
                <sequence>
                    <element name="year" type="int"/>
                    <element name="type" type="string" nillable="true"/>
                    <element name="authenticated" type="boolean"/>
                    <element name="image" type="base64Binary" nillable="true"/>
                    <element name="lookedUpTimes" type="int"/>
                    <element name="exists" type="boolean"/>
                    <element name="vineyard" type="string" nillable="true"/>
                    <element name="origin" type="string" nillable="true"/>
                    <element name="rfidNum" type="string" nillable="true"/>
                    <element name="review" type="string" nillable="true"/>
                </sequence>
            </complexType>
        </schema>
    </types>
    <message name="WineWS_enterBottleInformation">
        <part name="parameters" element="tns:enterBottleInformationElement"/>
    </message>
    <message name="WineWS_enterBottleInformationResponse">
        <part name="parameters" element="tns:enterBottleInformationResponseElement"/>
    </message>
    <message name="WineWS_getWineAccessesSince">
        <part name="parameters" element="tns:getWineAccessesSinceElement"/>
    </message>
    <message name="WineWS_getWineAccessesSinceResponse">
        <part name="parameters" element="tns:getWineAccessesSinceResponseElement"/>
    </message>
    <message name="WineWS_retrieveBottleInformation">
        <part name="parameters" element="tns:retrieveBottleInformationElement"/>
    </message>
    <message name="WineWS_retrieveBottleInformationResponse">
        <part name="parameters" element="tns:retrieveBottleInformationResponseElement"/>
    </message>
    <portType name="wineWS">
        <operation name="enterBottleInformation">
            <input message="tns:WineWS_enterBottleInformation"/>
            <output message="tns:WineWS_enterBottleInformationResponse"/>
        </operation>
        <operation name="getWineAccessesSince">
            <input message="tns:WineWS_getWineAccessesSince"/>
            <output message="tns:WineWS_getWineAccessesSinceResponse"/>
        </operation>
        <operation name="retrieveBottleInformation">
            <input message="tns:WineWS_retrieveBottleInformation"/>
            <output message="tns:WineWS_retrieveBottleInformationResponse"/>
        </operation>
    </portType>
    <binding name="wineWSSoapHttp" type="tns:wineWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="enterBottleInformation">
            <soap:operation soapAction="http://winePackage//enterBottleInformation"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getWineAccessesSince">
            <soap:operation soapAction="http://winePackage//getWineAccessesSince"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="retrieveBottleInformation">
            <soap:operation soapAction="http://winePackage//retrieveBottleInformation"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="wineWS">
        <port name="wineWSSoapHttpPort" binding="tns:wineWSSoapHttp">
            <soap:address location="http://192.168.10.4:8888/JavaWebService-GetDates-context-root/wineWSSoapHttpPort"/>
        </port>
    </service>
</definitions>
