GenTag Demo/Gentag Demo/Web References/medWS/COREMedDemoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://COREMedDemo/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="COREMedDemoWS" targetNamespace="http://COREMedDemo/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="http://COREMedDemo/">
      <xsd:complexType name="drugInfo">
        <xsd:sequence>
          <xsd:element name="RFIDNum" nillable="true" type="xsd:string" />
          <xsd:element name="picture" nillable="true" type="xsd:base64Binary" />
          <xsd:element name="description" nillable="true" type="xsd:string" />
          <xsd:element name="exists" type="xsd:boolean" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="patientRecord">
        <xsd:sequence>
          <xsd:element name="image" nillable="true" type="xsd:base64Binary" />
          <xsd:element name="exists" type="xsd:boolean" />
          <xsd:element name="middleName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="allergies" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="medications" nillable="true" type="xsd:string" />
          <xsd:element name="firstName" nillable="true" type="xsd:string" />
          <xsd:element name="lastName" nillable="true" type="xsd:string" />
          <xsd:element name="RFIDnum" nillable="true" type="xsd:string" />
          <xsd:element name="DOB" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="checkInteractionElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ID" nillable="true" type="xsd:string" />
            <xsd:element name="drugID" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkInteractionResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="enterDrugInfoElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="newDrug" nillable="true" type="tns:drugInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="enterDrugInfoResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:errorReport" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="errorReport">
        <xsd:sequence>
          <xsd:element name="errorMessage" nillable="true" type="xsd:string" />
          <xsd:element name="errorCode" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="enterPatientPhotoElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="newPatient" nillable="true" type="tns:patientRecord" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="enterPatientPhotoResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:errorReport" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="enterPatientRecordElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="newPatient" nillable="true" type="tns:patientRecord" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="enterPatientRecordResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:errorReport" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDrugInfoElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RFIDNum" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDrugInfoResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:drugInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPatientRecordElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RFIDNum" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPatientRecordResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:patientRecord" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="logPatientVitalsElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RFIDNum" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="temperatures" type="xsd:float" />
            <xsd:element name="periodicity" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="logPatientVitalsResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:errorReport" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registerDoseGivenElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="patientRFIDNum" nillable="true" type="xsd:string" />
            <xsd:element name="drugRFIDNum" nillable="true" type="xsd:string" />
            <xsd:element name="nurseID" nillable="true" type="xsd:string" />
            <xsd:element name="dose" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registerDoseGivenResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="COREMedDemoWS_checkInteraction">
    <part name="parameters" element="tns:checkInteractionElement" />
  </message>
  <message name="COREMedDemoWS_checkInteractionResponse">
    <part name="parameters" element="tns:checkInteractionResponseElement" />
  </message>
  <message name="COREMedDemoWS_enterDrugInfo">
    <part name="parameters" element="tns:enterDrugInfoElement" />
  </message>
  <message name="COREMedDemoWS_enterDrugInfoResponse">
    <part name="parameters" element="tns:enterDrugInfoResponseElement" />
  </message>
  <message name="COREMedDemoWS_enterPatientPhoto">
    <part name="parameters" element="tns:enterPatientPhotoElement" />
  </message>
  <message name="COREMedDemoWS_enterPatientPhotoResponse">
    <part name="parameters" element="tns:enterPatientPhotoResponseElement" />
  </message>
  <message name="COREMedDemoWS_enterPatientRecord">
    <part name="parameters" element="tns:enterPatientRecordElement" />
  </message>
  <message name="COREMedDemoWS_enterPatientRecordResponse">
    <part name="parameters" element="tns:enterPatientRecordResponseElement" />
  </message>
  <message name="COREMedDemoWS_getDrugInfo">
    <part name="parameters" element="tns:getDrugInfoElement" />
  </message>
  <message name="COREMedDemoWS_getDrugInfoResponse">
    <part name="parameters" element="tns:getDrugInfoResponseElement" />
  </message>
  <message name="COREMedDemoWS_getPatientRecord">
    <part name="parameters" element="tns:getPatientRecordElement" />
  </message>
  <message name="COREMedDemoWS_getPatientRecordResponse">
    <part name="parameters" element="tns:getPatientRecordResponseElement" />
  </message>
  <message name="COREMedDemoWS_logPatientVitals">
    <part name="parameters" element="tns:logPatientVitalsElement" />
  </message>
  <message name="COREMedDemoWS_logPatientVitalsResponse">
    <part name="parameters" element="tns:logPatientVitalsResponseElement" />
  </message>
  <message name="COREMedDemoWS_registerDoseGiven">
    <part name="parameters" element="tns:registerDoseGivenElement" />
  </message>
  <message name="COREMedDemoWS_registerDoseGivenResponse">
    <part name="parameters" element="tns:registerDoseGivenResponseElement" />
  </message>
  <portType name="COREMedDemoWS">
    <operation name="checkInteraction">
      <input message="tns:COREMedDemoWS_checkInteraction" />
      <output message="tns:COREMedDemoWS_checkInteractionResponse" />
    </operation>
    <operation name="enterDrugInfo">
      <input message="tns:COREMedDemoWS_enterDrugInfo" />
      <output message="tns:COREMedDemoWS_enterDrugInfoResponse" />
    </operation>
    <operation name="enterPatientPhoto">
      <input message="tns:COREMedDemoWS_enterPatientPhoto" />
      <output message="tns:COREMedDemoWS_enterPatientPhotoResponse" />
    </operation>
    <operation name="enterPatientRecord">
      <input message="tns:COREMedDemoWS_enterPatientRecord" />
      <output message="tns:COREMedDemoWS_enterPatientRecordResponse" />
    </operation>
    <operation name="getDrugInfo">
      <input message="tns:COREMedDemoWS_getDrugInfo" />
      <output message="tns:COREMedDemoWS_getDrugInfoResponse" />
    </operation>
    <operation name="getPatientRecord">
      <input message="tns:COREMedDemoWS_getPatientRecord" />
      <output message="tns:COREMedDemoWS_getPatientRecordResponse" />
    </operation>
    <operation name="logPatientVitals">
      <input message="tns:COREMedDemoWS_logPatientVitals" />
      <output message="tns:COREMedDemoWS_logPatientVitalsResponse" />
    </operation>
    <operation name="registerDoseGiven">
      <input message="tns:COREMedDemoWS_registerDoseGiven" />
      <output message="tns:COREMedDemoWS_registerDoseGivenResponse" />
    </operation>
  </portType>
  <binding name="COREMedDemoWSSoap12Http" type="tns:COREMedDemoWS">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="checkInteraction">
      <soap12:operation soapAction="http://COREMedDemo//checkInteraction" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="enterDrugInfo">
      <soap12:operation soapAction="http://COREMedDemo//enterDrugInfo" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="enterPatientPhoto">
      <soap12:operation soapAction="http://COREMedDemo//enterPatientPhoto" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="enterPatientRecord">
      <soap12:operation soapAction="http://COREMedDemo//enterPatientRecord" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getDrugInfo">
      <soap12:operation soapAction="http://COREMedDemo//getDrugInfo" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getPatientRecord">
      <soap12:operation soapAction="http://COREMedDemo//getPatientRecord" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="logPatientVitals">
      <soap12:operation soapAction="http://COREMedDemo//logPatientVitals" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="registerDoseGiven">
      <soap12:operation soapAction="http://COREMedDemo//registerDoseGiven" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="COREMedDemoWSSoapHttp" type="tns:COREMedDemoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="checkInteraction">
      <soap:operation soapAction="http://COREMedDemo//checkInteraction" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="enterDrugInfo">
      <soap:operation soapAction="http://COREMedDemo//enterDrugInfo" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="enterPatientPhoto">
      <soap:operation soapAction="http://COREMedDemo//enterPatientPhoto" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="enterPatientRecord">
      <soap:operation soapAction="http://COREMedDemo//enterPatientRecord" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getDrugInfo">
      <soap:operation soapAction="http://COREMedDemo//getDrugInfo" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPatientRecord">
      <soap:operation soapAction="http://COREMedDemo//getPatientRecord" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="logPatientVitals">
      <soap:operation soapAction="http://COREMedDemo//logPatientVitals" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registerDoseGiven">
      <soap:operation soapAction="http://COREMedDemo//registerDoseGiven" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="COREMedDemoWS">
    <port name="COREMedDemoWSSoap12HttpPort" binding="tns:COREMedDemoWSSoap12Http">
      <soap12:address location="http://192.168.10.24:7777/GentagDemo/COREMedDemoWSSoap12HttpPort" />
    </port>
    <port name="COREMedDemoWSSoapHttpPort" binding="tns:COREMedDemoWSSoapHttp">
      <soap:address location="http://192.168.10.24:7777/GentagDemo/COREMedDemoWSSoapHttpPort" />
    </port>
  </service>
</definitions>