GenTag Demo/Gentag Demo Light/Web References/assayWS/AssayWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://assayPackage/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AssayWS" targetNamespace="http://assayPackage/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="http://assayPackage/">
      <xsd:element name="retrieveAssayInformationElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="rfidNum" nillable="true" type="xsd:string" />
            <xsd:element name="phoneID" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveAssayInformationResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:assayInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="assayInfo">
        <xsd:sequence>
          <xsd:element name="timer" type="xsd:int" />
          <xsd:element name="afterMessage" nillable="true" type="xsd:string" />
          <xsd:element name="descriptionImage" nillable="true" type="xsd:base64Binary" />
          <xsd:element name="exists" type="xsd:boolean" />
          <xsd:element name="sessionID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="resultImages" nillable="true" type="tns:assayImage" />
          <xsd:element name="beforeMessage" nillable="true" type="xsd:string" />
          <xsd:element name="rfidNum" nillable="true" type="xsd:string" />
          <xsd:element name="needRetry" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="assayImage">
        <xsd:sequence>
          <xsd:element name="image" nillable="true" type="xsd:base64Binary" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="submitAssayResultElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="String_1" nillable="true" type="xsd:string" />
            <xsd:element name="String_2" nillable="true" type="xsd:string" />
            <xsd:element name="int_3" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="submitAssayResultResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:assayResultResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="assayResultResponse">
        <xsd:sequence>
          <xsd:element name="success" type="xsd:boolean" />
          <xsd:element name="needRetry" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="AssayWS_retrieveAssayInformation">
    <part name="parameters" element="tns:retrieveAssayInformationElement" />
  </message>
  <message name="AssayWS_retrieveAssayInformationResponse">
    <part name="parameters" element="tns:retrieveAssayInformationResponseElement" />
  </message>
  <message name="AssayWS_submitAssayResult">
    <part name="parameters" element="tns:submitAssayResultElement" />
  </message>
  <message name="AssayWS_submitAssayResultResponse">
    <part name="parameters" element="tns:submitAssayResultResponseElement" />
  </message>
  <portType name="AssayWS">
    <operation name="retrieveAssayInformation">
      <input message="tns:AssayWS_retrieveAssayInformation" />
      <output message="tns:AssayWS_retrieveAssayInformationResponse" />
    </operation>
    <operation name="submitAssayResult">
      <input message="tns:AssayWS_submitAssayResult" />
      <output message="tns:AssayWS_submitAssayResultResponse" />
    </operation>
  </portType>
  <binding name="AssayWSSoapHttp" type="tns:AssayWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="retrieveAssayInformation">
      <soap:operation soapAction="http://assayPackage//retrieveAssayInformation" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="submitAssayResult">
      <soap:operation soapAction="http://assayPackage//submitAssayResult" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AssayWS">
    <port name="AssayWSSoapHttpPort" binding="tns:AssayWSSoapHttp">
      <soap:address location="http://id1.gentag.com:7777/GentagDemo/AssayWSSoapHttpPort" />
    </port>
  </service>
</definitions>