GenTag Demo/GenTag Demo/Web References/org.dyndns.crius/GetDatesWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://datespackage/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetDatesWS" targetNamespace="http://datespackage/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="http://datespackage/">
      <xsd:element name="callHome" type="tns:callHome" />
      <xsd:complexType name="callHome">
        <xsd:sequence>
          <xsd:element name="UID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="lat" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="longit" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="timeSinceLastReading" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="reportedTime" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="callHomeResponse" type="tns:callHomeResponse" />
      <xsd:complexType name="callHomeResponse">
        <xsd:sequence>
          <xsd:element name="return" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="checkInteraction" type="tns:checkInteraction" />
      <xsd:complexType name="checkInteraction">
        <xsd:sequence>
          <xsd:element name="ID" nillable="true" type="xsd:string" />
          <xsd:element name="drugID" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="checkInteractionResponse" type="tns:checkInteractionResponse" />
      <xsd:complexType name="checkInteractionResponse">
        <xsd:sequence>
          <xsd:element name="return" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getDescription" type="tns:getDescription" />
      <xsd:complexType name="getDescription">
        <xsd:sequence>
          <xsd:element name="RFIDNum" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getDescriptionResponse" type="tns:getDescriptionResponse" />
      <xsd:complexType name="getDescriptionResponse">
        <xsd:sequence>
          <xsd:element name="return" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getInfo" type="tns:getInfo" />
      <xsd:complexType name="getInfo">
        <xsd:sequence>
          <xsd:element name="ID" nillable="true" type="xsd:string" />
          <xsd:element name="isDrug" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getInfoResponse" type="tns:getInfoResponse" />
      <xsd:complexType name="getInfoResponse">
        <xsd:sequence>
          <xsd:element name="return" nillable="true" type="tns:GetDates" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetDates">
        <xsd:sequence>
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="desc" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getPicture" type="tns:getPicture" />
      <xsd:complexType name="getPicture">
        <xsd:sequence>
          <xsd:element name="ID" nillable="true" type="xsd:string" />
          <xsd:element name="isDrug" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getPictureResponse" type="tns:getPictureResponse" />
      <xsd:complexType name="getPictureResponse">
        <xsd:sequence>
          <xsd:element name="return" nillable="true" type="xsd:base64Binary" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getRoute" type="tns:getRoute" />
      <xsd:complexType name="getRoute">
        <xsd:sequence>
          <xsd:element name="RFIDNum" nillable="true" type="xsd:string" />
          <xsd:element name="sinceWhen" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getRouteResponse" type="tns:getRouteResponse" />
      <xsd:complexType name="getRouteResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getSince" type="tns:getSince" />
      <xsd:complexType name="getSince">
        <xsd:sequence>
          <xsd:element name="timestamp" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getSinceResponse" type="tns:getSinceResponse" />
      <xsd:complexType name="getSinceResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getUniqueUIDs" type="tns:getUniqueUIDs" />
      <xsd:complexType name="getUniqueUIDs">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="getUniqueUIDsResponse" type="tns:getUniqueUIDsResponse" />
      <xsd:complexType name="getUniqueUIDsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="isAuthenticated" type="tns:isAuthenticated" />
      <xsd:complexType name="isAuthenticated">
        <xsd:sequence>
          <xsd:element name="RFIDNum" nillable="true" type="xsd:string" />
          <xsd:element name="UID" nillable="true" type="xsd:string" />
          <xsd:element name="lat" nillable="true" type="xsd:string" />
          <xsd:element name="longit" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="isAuthenticatedResponse" type="tns:isAuthenticatedResponse" />
      <xsd:complexType name="isAuthenticatedResponse">
        <xsd:sequence>
          <xsd:element name="return" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="GetDatesWS_callHome">
    <part name="parameters" element="tns:callHome" />
  </message>
  <message name="GetDatesWS_callHomeResponse">
    <part name="parameters" element="tns:callHomeResponse" />
  </message>
  <message name="GetDatesWS_checkInteraction">
    <part name="parameters" element="tns:checkInteraction" />
  </message>
  <message name="GetDatesWS_checkInteractionResponse">
    <part name="parameters" element="tns:checkInteractionResponse" />
  </message>
  <message name="GetDatesWS_getDescription">
    <part name="parameters" element="tns:getDescription" />
  </message>
  <message name="GetDatesWS_getDescriptionResponse">
    <part name="parameters" element="tns:getDescriptionResponse" />
  </message>
  <message name="GetDatesWS_getInfo">
    <part name="parameters" element="tns:getInfo" />
  </message>
  <message name="GetDatesWS_getInfoResponse">
    <part name="parameters" element="tns:getInfoResponse" />
  </message>
  <message name="GetDatesWS_getPicture">
    <part name="parameters" element="tns:getPicture" />
  </message>
  <message name="GetDatesWS_getPictureResponse">
    <part name="parameters" element="tns:getPictureResponse" />
  </message>
  <message name="GetDatesWS_getRoute">
    <part name="parameters" element="tns:getRoute" />
  </message>
  <message name="GetDatesWS_getRouteResponse">
    <part name="parameters" element="tns:getRouteResponse" />
  </message>
  <message name="GetDatesWS_getSince">
    <part name="parameters" element="tns:getSince" />
  </message>
  <message name="GetDatesWS_getSinceResponse">
    <part name="parameters" element="tns:getSinceResponse" />
  </message>
  <message name="GetDatesWS_getUniqueUIDs">
    <part name="parameters" element="tns:getUniqueUIDs" />
  </message>
  <message name="GetDatesWS_getUniqueUIDsResponse">
    <part name="parameters" element="tns:getUniqueUIDsResponse" />
  </message>
  <message name="GetDatesWS_isAuthenticated">
    <part name="parameters" element="tns:isAuthenticated" />
  </message>
  <message name="GetDatesWS_isAuthenticatedResponse">
    <part name="parameters" element="tns:isAuthenticatedResponse" />
  </message>
  <portType name="GetDatesWS">
    <operation name="callHome">
      <input message="tns:GetDatesWS_callHome" />
      <output message="tns:GetDatesWS_callHomeResponse" />
    </operation>
    <operation name="checkInteraction">
      <input message="tns:GetDatesWS_checkInteraction" />
      <output message="tns:GetDatesWS_checkInteractionResponse" />
    </operation>
    <operation name="getDescription">
      <input message="tns:GetDatesWS_getDescription" />
      <output message="tns:GetDatesWS_getDescriptionResponse" />
    </operation>
    <operation name="getInfo">
      <input message="tns:GetDatesWS_getInfo" />
      <output message="tns:GetDatesWS_getInfoResponse" />
    </operation>
    <operation name="getPicture">
      <input message="tns:GetDatesWS_getPicture" />
      <output message="tns:GetDatesWS_getPictureResponse" />
    </operation>
    <operation name="getRoute">
      <input message="tns:GetDatesWS_getRoute" />
      <output message="tns:GetDatesWS_getRouteResponse" />
    </operation>
    <operation name="getSince">
      <input message="tns:GetDatesWS_getSince" />
      <output message="tns:GetDatesWS_getSinceResponse" />
    </operation>
    <operation name="getUniqueUIDs">
      <input message="tns:GetDatesWS_getUniqueUIDs" />
      <output message="tns:GetDatesWS_getUniqueUIDsResponse" />
    </operation>
    <operation name="isAuthenticated">
      <input message="tns:GetDatesWS_isAuthenticated" />
      <output message="tns:GetDatesWS_isAuthenticatedResponse" />
    </operation>
  </portType>
  <binding name="GetDatesWSSoapHttp" type="tns:GetDatesWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="callHome">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="checkInteraction">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getDescription">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPicture">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getRoute">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getSince">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getUniqueUIDs">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="isAuthenticated">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GetDatesWS">
    <port name="GetDatesWSSoapHttpPort" binding="tns:GetDatesWSSoapHttp">
      <soap:address location="http://crius.dyndns.org:8888/JavaWebService-GetDates-context-root/GetDatesWSSoapHttpPort" />
    </port>
  </service>
</definitions>