GenTag Demo/Gentag Pet Entry Client/Web References/petWS/petWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns0="http://petPackage/types/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://petPackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="petWS" targetNamespace="http://petPackage/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:tns="http://petPackage/types/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="http://petPackage/types/">
      <xsd:complexType name="petInfo">
        <xsd:sequence>
          <xsd:element name="password" nillable="true" type="xsd:string" />
          <xsd:element name="workPhone" nillable="true" type="xsd:string" />
          <xsd:element name="vetName" nillable="true" type="xsd:string" />
          <xsd:element name="owner" nillable="true" type="xsd:string" />
          <xsd:element name="breed" nillable="true" type="xsd:string" />
          <xsd:element name="exists" type="xsd:boolean" />
          <xsd:element name="homePhone" nillable="true" type="xsd:string" />
          <xsd:element name="rfidNum" nillable="true" type="xsd:string" />
          <xsd:element name="cellPhone" nillable="true" type="xsd:string" />
          <xsd:element name="medicalNeeds" nillable="true" type="xsd:string" />
          <xsd:element name="contactInfo" nillable="true" type="xsd:string" />
          <xsd:element name="vetPhone" nillable="true" type="xsd:string" />
          <xsd:element name="reward" type="xsd:int" />
          <xsd:element name="image" nillable="true" type="xsd:base64Binary" />
          <xsd:element name="email" nillable="true" type="xsd:string" />
          <xsd:element name="vetAddress" nillable="true" type="xsd:string" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="medications" nillable="true" type="xsd:string" />
          <xsd:element name="preferredFood" nillable="true" type="xsd:string" />
          <xsd:element name="tagCode" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="enterPetInformationElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="rfidNums" nillable="true" type="tns:petInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="enterPetInformationResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrievePetInformationElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="String_1" nillable="true" type="xsd:string" />
            <xsd:element name="String_2" nillable="true" type="xsd:string" />
            <xsd:element name="float_3" type="xsd:float" />
            <xsd:element name="float_4" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrievePetInformationResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:petInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="PetWS_enterPetInformation">
    <part name="parameters" element="tns0:enterPetInformationElement" />
  </message>
  <message name="PetWS_enterPetInformationResponse">
    <part name="parameters" element="tns0:enterPetInformationResponseElement" />
  </message>
  <message name="PetWS_retrievePetInformation">
    <part name="parameters" element="tns0:retrievePetInformationElement" />
  </message>
  <message name="PetWS_retrievePetInformationResponse">
    <part name="parameters" element="tns0:retrievePetInformationResponseElement" />
  </message>
  <portType name="petWS">
    <operation name="enterPetInformation">
      <input message="tns:PetWS_enterPetInformation" />
      <output message="tns:PetWS_enterPetInformationResponse" />
    </operation>
    <operation name="retrievePetInformation">
      <input message="tns:PetWS_retrievePetInformation" />
      <output message="tns:PetWS_retrievePetInformationResponse" />
    </operation>
  </portType>
  <binding name="petWSSoapHttp" type="tns:petWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="enterPetInformation">
      <soap:operation soapAction="http://petPackage//enterPetInformation" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="retrievePetInformation">
      <soap:operation soapAction="http://petPackage//retrievePetInformation" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="petWS">
    <port name="petWSSoapHttpPort" binding="tns:petWSSoapHttp">
      <soap:address location="http://crius.dyndns.org:8888/GentagDemo/petWSSoapHttpPort" />
    </port>
  </service>
</definitions>