DRAMSimII/memoryDefinitions/schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by CriuS (EMBRACE) -->
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="IDD0" type="xs:float"/>
	<xs:element name="IDD2N" type="xs:float"/>
	<xs:element name="IDD2P" type="xs:float"/>
	<xs:element name="IDD3N" type="xs:float"/>
	<xs:element name="IDD3P" type="xs:float"/>
	<xs:element name="IDD4R" type="xs:float"/>
	<xs:element name="IDD4W" type="xs:float"/>
	<xs:element name="IDD5A" type="xs:float"/>
	<xs:element name="autoPrecharge" type="xs:boolean"/>
	<xs:element name="autoRefresh" type="xs:boolean"/>
	<xs:element name="autoRefreshPolicy">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="banks" type="xs:integer"/>
	<xs:element name="cacheLineSize" type="xs:integer"/>
	<xs:element name="channelWidth" type="xs:integer"/>
	<xs:element name="channels" type="xs:integer"/>
	<xs:element name="clockGranularity" type="xs:integer"/>
	<xs:element name="columnSize" type="xs:integer"/>
	<xs:element name="columns" type="xs:integer"/>
	<xs:element name="commandOrderingAlgorithm"/>
	<xs:element name="completionQueueDepth" type="xs:integer"/>
	<xs:element name="datarate" type="xs:integer"/>
	<xs:element name="dramspec">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="timing"/>
				<xs:element ref="power"/>
				<xs:element ref="simulationParameters"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ddr2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="eventQueueDepth" type="xs:integer"/>
	<xs:element name="historyQueueDepth" type="xs:integer"/>
	<xs:element name="inputFile">
		<xs:annotation>
			<xs:documentation> This is the file that will be used as trace input</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxVCC" type="xs:float"/>
	<xs:element name="outFile" type="xs:string"/>
	<xs:element name="perBankQueueDepth" type="xs:integer"/>
	<xs:element name="physicalAddressMappingPolicy">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="postedCAS" type="xs:boolean"/>
	<xs:element name="power">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="maxVCC"/>
				<xs:element ref="systemVDD"/>
				<xs:element ref="IDD0"/>
				<xs:element ref="IDD2P"/>
				<xs:element ref="IDD2N"/>
				<xs:element ref="IDD3P"/>
				<xs:element ref="IDD3N"/>
				<xs:element ref="IDD4R"/>
				<xs:element ref="IDD4W"/>
				<xs:element ref="IDD5A"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ranks" type="xs:integer"/>
	<xs:element name="readPercentage" type="xs:float"/>
	<xs:element name="readWriteGrouping" type="xs:boolean"/>
	<xs:element name="refreshQueueDepth" type="xs:integer"/>
	<xs:element name="refreshTime" type="xs:integer"/>
	<xs:element name="requestCount" type="xs:integer"/>
	<xs:element name="rowBufferPolicy">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="rowSize" type="xs:integer"/>
	<xs:element name="rows" type="xs:integer"/>
	<xs:element name="seniorityAgeLimit" type="xs:integer"/>
	<xs:element name="shortBurstRatio" type="xs:float"/>
	<xs:element name="simulationParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shortBurstRatio"/>
				<xs:element ref="readPercentage"/>
				<xs:element ref="outFile"/>
				<xs:element ref="requestCount"/>
				<xs:element ref="inputFile"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="systemConfigurationType">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="systemVDD" type="xs:float"/>
	<xs:element name="tAL" type="xs:integer"/>
	<xs:element name="tBufferDelay" type="xs:integer"/>
	<xs:element name="tBurst" type="xs:integer"/>
	<xs:element name="tCAS" type="xs:integer"/>
	<xs:element name="tCMD" type="xs:integer"/>
	<xs:element name="tCWD" type="xs:integer"/>
	<xs:element name="tFAW" type="xs:integer"/>
	<xs:element name="tRAS" type="xs:integer"/>
	<xs:element name="tRC" type="xs:integer"/>
	<xs:element name="tRCD" type="xs:integer"/>
	<xs:element name="tREFI" type="xs:integer"/>
	<xs:element name="tRFC" type="xs:integer"/>
	<xs:element name="tRP" type="xs:integer"/>
	<xs:element name="tRRD" type="xs:integer"/>
	<xs:element name="tRTP" type="xs:integer"/>
	<xs:element name="tRTRS" type="xs:integer"/>
	<xs:element name="tWR" type="xs:integer"/>
	<xs:element name="tWTR" type="xs:integer"/>
	<xs:element name="timing">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="datarate"/>
				<xs:element ref="clockGranularity"/>
				<xs:element ref="channels"/>
				<xs:element ref="channelWidth"/>
				<xs:element ref="physicalAddressMappingPolicy"/>
				<xs:element ref="rowBufferPolicy"/>
				<xs:element ref="ranks"/>
				<xs:element ref="banks"/>
				<xs:element ref="rows"/>
				<xs:element ref="rowSize"/>
				<xs:element ref="columns"/>
				<xs:element ref="columnSize"/>
				<xs:element ref="tBufferDelay"/>
				<xs:element ref="tBurst"/>
				<xs:element ref="tCAS"/>
				<xs:element ref="tCMD"/>
				<xs:element ref="tCWD"/>
				<xs:element ref="tFAW"/>
				<xs:element ref="tRAS"/>
				<xs:element ref="tRC"/>
				<xs:element ref="tRCD"/>
				<xs:element ref="tRFC"/>
				<xs:element ref="tRRD"/>
				<xs:element ref="tRP"/>
				<xs:element ref="tRTP"/>
				<xs:element ref="tRTRS"/>
				<xs:element ref="tWR"/>
				<xs:element ref="tWTR"/>
				<xs:element ref="postedCAS"/>
				<xs:element ref="tAL"/>
				<xs:element ref="autoRefresh"/>
				<xs:element ref="autoRefreshPolicy"/>
				<xs:element ref="refreshTime"/>
				<xs:element ref="tREFI"/>
				<xs:element ref="commandOrderingAlgorithm"/>
				<xs:element ref="transactionOrderingAlgorithm"/>
				<xs:element ref="perBankQueueDepth"/>
				<xs:element ref="systemConfigurationType"/>
				<xs:element ref="cacheLineSize"/>
				<xs:element ref="historyQueueDepth"/>
				<xs:element ref="completionQueueDepth"/>
				<xs:element ref="transactionQueueDepth"/>
				<xs:element ref="eventQueueDepth"/>
				<xs:element ref="refreshQueueDepth"/>
				<xs:element ref="seniorityAgeLimit"/>
				<xs:element ref="readWriteGrouping"/>
				<xs:element ref="autoPrecharge"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="transactionOrderingAlgorithm">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="transactionQueueDepth" type="xs:integer"/>
</xs:schema>
