GenTag Demo/Gentag Demo/Web References/authenticationWS/AuthenticationWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns0="http://authenticationPackage/types/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://authenticationPackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthenticationWebService" targetNamespace="http://authenticationPackage/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:tns="http://authenticationPackage/types/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="http://authenticationPackage/types/">
      <xsd:complexType name="itemInfo">
        <xsd:sequence>
          <xsd:element name="RFIDNum" nillable="true" type="xsd:string" />
          <xsd:element name="description" nillable="true" type="xsd:string" />
          <xsd:element name="authenticated" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="callHomeElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UID" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="lat" type="xsd:float" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="longit" type="xsd:float" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="timeSinceLastReading" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="reportedTime" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="bearing" type="xsd:float" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="speed" type="xsd:float" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="elevation" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="callHomeResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getItemElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RFIDNum" nillable="true" type="xsd:string" />
            <xsd:element name="UID" nillable="true" type="xsd:string" />
            <xsd:element name="lat" type="xsd:float" />
            <xsd:element name="longit" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getItemResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:itemInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRouteElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RFIDNum" nillable="true" type="xsd:string" />
            <xsd:element name="sinceWhen" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRouteResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="result" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSinceElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="timestamp" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSinceResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="result" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUniqueUIDsElement">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUniqueUIDsResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="result" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setItemElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="newItem" nillable="true" type="tns:itemInfo" />
            <xsd:element name="UID" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setItemResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="AuthenticationWebService_callHome">
    <part name="parameters" element="tns0:callHomeElement" />
  </message>
  <message name="AuthenticationWebService_callHomeResponse">
    <part name="parameters" element="tns0:callHomeResponseElement" />
  </message>
  <message name="AuthenticationWebService_getItem">
    <part name="parameters" element="tns0:getItemElement" />
  </message>
  <message name="AuthenticationWebService_getItemResponse">
    <part name="parameters" element="tns0:getItemResponseElement" />
  </message>
  <message name="AuthenticationWebService_getRoute">
    <part name="parameters" element="tns0:getRouteElement" />
  </message>
  <message name="AuthenticationWebService_getRouteResponse">
    <part name="parameters" element="tns0:getRouteResponseElement" />
  </message>
  <message name="AuthenticationWebService_getSince">
    <part name="parameters" element="tns0:getSinceElement" />
  </message>
  <message name="AuthenticationWebService_getSinceResponse">
    <part name="parameters" element="tns0:getSinceResponseElement" />
  </message>
  <message name="AuthenticationWebService_getUniqueUIDs">
    <part name="parameters" element="tns0:getUniqueUIDsElement" />
  </message>
  <message name="AuthenticationWebService_getUniqueUIDsResponse">
    <part name="parameters" element="tns0:getUniqueUIDsResponseElement" />
  </message>
  <message name="AuthenticationWebService_setItem">
    <part name="parameters" element="tns0:setItemElement" />
  </message>
  <message name="AuthenticationWebService_setItemResponse">
    <part name="parameters" element="tns0:setItemResponseElement" />
  </message>
  <portType name="AuthenticationWebService">
    <operation name="callHome">
      <input message="tns:AuthenticationWebService_callHome" />
      <output message="tns:AuthenticationWebService_callHomeResponse" />
    </operation>
    <operation name="getItem">
      <input message="tns:AuthenticationWebService_getItem" />
      <output message="tns:AuthenticationWebService_getItemResponse" />
    </operation>
    <operation name="getRoute">
      <input message="tns:AuthenticationWebService_getRoute" />
      <output message="tns:AuthenticationWebService_getRouteResponse" />
    </operation>
    <operation name="getSince">
      <input message="tns:AuthenticationWebService_getSince" />
      <output message="tns:AuthenticationWebService_getSinceResponse" />
    </operation>
    <operation name="getUniqueUIDs">
      <input message="tns:AuthenticationWebService_getUniqueUIDs" />
      <output message="tns:AuthenticationWebService_getUniqueUIDsResponse" />
    </operation>
    <operation name="setItem">
      <input message="tns:AuthenticationWebService_setItem" />
      <output message="tns:AuthenticationWebService_setItemResponse" />
    </operation>
  </portType>
  <binding name="AuthenticationWebServiceSoapHttp" type="tns:AuthenticationWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="callHome">
      <soap:operation soapAction="http://authenticationPackage//callHome" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getItem">
      <soap:operation soapAction="http://authenticationPackage//getItem" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getRoute">
      <soap:operation soapAction="http://authenticationPackage//getRoute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getSince">
      <soap:operation soapAction="http://authenticationPackage//getSince" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getUniqueUIDs">
      <soap:operation soapAction="http://authenticationPackage//getUniqueUIDs" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="setItem">
      <soap:operation soapAction="http://authenticationPackage//setItem" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AuthenticationWebService">
    <port name="AuthenticationWebServiceSoapHttpPort" binding="tns:AuthenticationWebServiceSoapHttp">
      <soap:address location="http://crius.dyndns.org:8888/GentagDemo/AuthenticationWebServiceSoapHttpPort" />
    </port>
  </service>
</definitions>